<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="HexEdit"
          Version="$(var.Version)"
          Manufacturer="Expert Commercial Software Pty Ltd"
          UpgradeCode="556d37fa-01f9-432f-b6fa-253a52b33737">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="$(var.LicensePath)"
                                              LogoFile="$(var.GraphicsDir)HexEditIcon64.png"
                                              ShowVersion="yes"
                                              SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

    <util:FileSearch Id="FindVcRuntime"
                     Path="[SystemFolder]vcruntime140.dll"
                     Result="exists"
                     Variable="vcruntime_installed" />

    <Chain>
      <!--VC redist from https://aka.ms/vs/16/release/vc_redist.x86.exe -->
      <ExePackage SourceFile="$(var.SolutionDir)tools\VC_redist.x86.exe"
                  DisplayName="Microsoft Visual C++ Runtime"
                  InstallCommand="/install /quiet"
                  UninstallCommand="/uninstall /quiet"
                  Permanent="yes"
                  DetectCondition="vcruntime_installed = 1" />

      <MsiPackage SourceFile="$(var.Install.TargetPath)"
                  DisplayName="HexEdit Application"
                  DisplayInternalUI="yes">
        <MsiProperty Name="RUNFROMBUNDLE" Value="1"/>
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
