<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="InstallOptionsDlg" Width="370" Height="270" Title="!(loc.InstallOptionsDlg_Title)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallOptionsDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallOptionsDlgDescription)" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallOptionsDlgTitle)" />
        <Control Id="Print" Type="PushButton" X="112" Y="243" Width="56" Height="17" Text="!(loc.WixUIPrint)">
          <Publish Event="DoAction" Value="WixUIPrintEula">1</Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="SpawnWaitDialog" Value="WaitForCostingDlg">!(wix.WixUICostingPopupOptOut) OR CostingComplete = 1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="Shortcuts" Type="Text"
                 X="20" Y="60"
                 Width="340" Height="15"
                 Transparent="yes" NoPrefix="yes"
                 Text="!(loc.InstallOptionsDlgShortcuts)" />
        
        <Control Id="DesktopShortcut" Type="CheckBox"
                 X="30" Y="75"
                 Width="330" Height="18"
                 CheckBoxValue="1"
                 Property="ADD_DESKTOP_SHORTCUT"
                 Text="!(loc.InstallOptionsDlgDesktopShortcut)" />

        <Control Id="StartMenu" Type="CheckBox"
                 X="30" Y="95"
                 Width="330" Height="18"
                 CheckBoxValue="1"
                 Property="ADD_START_MENU_SHORTCUT"
                 Text="!(loc.InstallOptionsDlgStartMenuShortcut)" />

        <Control Id="StartMenuUtilities" Type="CheckBox"
                 X="30" Y="115"
                 Width="330" Height="18"
                 CheckBoxValue="1"
                 Property="ADD_START_MENU_UTILITIES_SHORTCUT"
                 Text="!(loc.InstallOptionsDlgStartMenuUtilitiesShortcut)" />

        <Control Id="ContextMenu" Type="CheckBox"
                 X="30" Y="135"
                 Width="330" Height="18"
                 CheckBoxValue="1"
                 Property="ADD_EXPLORER_CONTEXT_MENU"
                 Text="!(loc.InstallOptionsDlgExplorer)" />
        
      </Dialog>
    </UI>
  </Fragment>
</Wix>
