<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Feature Id="ContextMenu"
             Title="Explorer Context Menu"
             Level="1"
             Description="!(loc.ContextMenuDescription)">
      <ComponentGroupRef Id="ContextMenu" />
    </Feature>

    <ComponentGroup Id="ContextMenu"
                    Directory="INSTALLFOLDER">
      <Component Id="HexEdit.ContextMenu">
        <RegistryValue Root="HKCR"
                       Key="*\Shell\HexEdit"
                       Type="string"
                       Value="Open with HexEdit" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
