<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Feature Id="Templates"
             Title="Templates"
             Level="1"
             Description="!(loc.TemplatesDescription)">
      <ComponentGroupRef Id="TemplateFiles_APPDATA" />
    </Feature>
  </Fragment>
</Wix>
